<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="ATB8XAPIAutomationProgram">
        <classes>
            <class name="com.thetestingacademy.sampleCheck.RestAssuredBasics.API_Testing_005_BDDStyleGET"/>
        </classes>
    </test>
</suite>
